body{
    background-image: url(../storage/default/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.app-name{
    border-bottom: 1px solid black;
    width: 130px;
}
.df-btn{
    margin: 0 15px;
}
.df-text{
    font-size: 13pt;
    color: black;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7AAD82 !important;
    border: none !important;
    color: white !important;
    outline: none !important;
}
a{
    color: black !important;
    text-decoration: none !important;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #25364A;
    color: white;
    text-align: center;
    padding: 10px;
  }