.content-outside{
    display: flex;
    justify-content: center;
}
.content{
    color: white;
    background-color: #25364a83 !important;
    padding: 100px 50px;
    border-radius: 10px;
    width: 75%;
}
.content>p{
    text-align: center;
}
.title{
    font-size: 30pt;
}
.btn-alignment{
    display: flex;
    justify-content: center;
}
.start{
    color: white !important;
}
