.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    color: white;
    background-color: #25364a83;
    padding: 50px 50px;
    border-radius: 10px;
    width: 75%;
}
.table-head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.table{
    background-color: rgba(255, 255, 255, 0.562);
}
td{
    word-break: break-all;
}
th:nth-child(3){
    width: 100px;
}
th:nth-child(4){
    text-align: center;
    width: 150px;
}
th:nth-child(5), td:nth-child(5), 
th:nth-child(6), td:nth-child(6){
    text-align: center;
    width: 100px;
}